<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtR65lH7girKQWc8PHzjqRCMhyYdP2mY4</string>
	<key>GCM_SENDER_ID</key>
	<string>992422966346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapsapp001.app</string>
	<key>PROJECT_ID</key>
	<string>rutas-app-ae221</string>
	<key>STORAGE_BUCKET</key>
	<string>rutas-app-ae221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992422966346:ios:89330a7818deb99256a2b3</string>
</dict>
</plist>